<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hand"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <permission
        android:name="com.hand.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
  
    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="com.hand.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>  

    
    
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    
    <uses-library android:name="com.mas.album" android:required="true" />
    
    <application
        android:name="com.hand.hrmexp.application.HrmexpApplication"
        
        android:allowBackup="false"
         android:hardwareAccelerated="true"
         android:debuggable="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        
                 <service 
             android:name="com.baidu.location.f" 
             android:enabled="true" 
             android:process=":remote">
		</service>
		
        <meta-data  
        android:name="com.baidu.lbsapi.API_KEY"  
        android:value="Rf7m4HfGhYwDyZkdQXO7tMkR" />
        
        
        <activity
            android:name="com.hand.hrmexp.activity.LoadingActivity"
            android:theme="@style/Theme.Sherlock.Light"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <activity 
            android:name="com.mas.album.AlbumView"
         />     
 <!--        
         <intent-filter >
             <action android:name="com.mas.album.AlbumView"/>
             <category android:name="android.intent.category.DEFAULT" />
             <category android:name="com.hand" />
             
         </intent-filter>
            
        </activity>
   -->       
        
        <activity
            android:name="com.hand.hrmexp.activity.SettingsActivity"
            android:label="设置" >
        </activity>
         <activity
            android:name="com.hand.hrmexp.activity.MenuActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:label="设置" >
        </activity>
        
         <activity
            android:name="com.hand.hrmexp.activity.DetailLineActivity"
            android:label="记一笔" >
        </activity>
         <activity
            android:name="com.hand.hrmexp.activity.DetailListActivity"
            android:theme="@style/Theme.MyTheme"
            android:label="报销明细">
        </activity>
         <activity
             android:name="com.hand.hrmexp.activity.LoginActivity"
             android:theme="@android:style/Theme.Light.NoTitleBar"
             android:label="登录">
             
         </activity>
		<activity
		    android:name="com.hand.hrmexp.activity.UploadListActivity"
		    android:theme="@style/Theme.MyTheme"
		    android:label="批量上传">
		</activity>
		
		<activity 
		    android:name="com.hand.hrmexp.activity.HtmlBaseActivity"
		    android:label="生成单据"
		    >
	    </activity>
		<activity
		    android:name="com.hand.hrmexp.activity.GustureOptionsActivity"
		    android:theme="@style/Theme.MyTheme"
		    android:label="手势选项">
		</activity>
		<activity
		    android:name="com.hand.hrmexp.activity.GustureLockActivity"
		    android:theme="@style/Theme.Sherlock.NoActionBar"
		    android:label="手势配置">
		</activity>
		<activity
		    android:name="com.hand.hrmexp.activity.GustureUnlockActivity"
		    android:theme="@style/Theme.Sherlock.NoActionBar"
		    android:label="解锁页面">
		</activity>

				<activity 
		    android:name="com.hand.hrmexp.activity.PieCharActivity"
		    android:label="报销图表"
		    >
	    
		</activity>

		<activity
		    android:name="com.hand.hrmexp.activity.PicGridActivity"
		    android:label="图片Grid">
		</activity>
		<activity 
		    android:name="com.hand.hrmexp.activity.CurrencyListActivity"
		    android:label="币种选择">
		</activity>
		
        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.hand" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
    
        
        <!-- Required SDK 核心功能-->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
                
            </intent-filter>
        </service>
        
        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
             <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.hand" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
             <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
   
        </receiver>
        
        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
         <!--User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name="com.hand.hrmexp.receiver.JPushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> Required  用户注册SDK的intent
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />  
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> Required  用户接收SDK消息的intent
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> Required  用户接收SDK通知栏信息的intent
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> Required  用户打开自定义通知栏的intent
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> Optional 用户接受Rich Push Javascript 回调函数的intent
                <action android:name="cn.jpush.android.intent.CONNECTION" />接收网络变化 连接/断开 since 1.6.3
                <category android:name="com.hand" />
            </intent-filter>
        </receiver> 
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="c547a5d17460489f7fa04857" /> <!--  </>值来自开发者平台取得的AppKey-->
    </application>

</manifest>
